.footer {
  background: #0f0f0f;
  color: #fff;
  padding: 50px 40px 10px
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-brand h3 {
  margin: 0;
  font-size: 22px;
}

.footer-brand p {
  font-size: 14px;
  opacity: 0.7;
}

.footer-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-links a {
  text-decoration: none;
  color: #bbb;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 25px;
  font-size: 13px;
  opacity: 0.5;
}

/* Mobile Responsive */
@media (max-width: 768px) {

  .footer-content {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  

}
.act
{
padding: 1rem;
border-radius: 10px;
}
.act.active
  {
    background: rgb(33, 32, 32);
  }
