
.experience-journey {
  position: relative;
  height: 450px;
}

.path-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.path-svg path {
  fill: none;
  stroke: #ffc83d;
  stroke-width: 4;
  stroke-linecap: round;
}


/* Nodes */
.node {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ffc83d;
  color: #000;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 12px rgba(255,200,60,0.7);
}

/* Manual alignment to curve */

.node.start
 {
    left: 16%;
    bottom: 31%;
}

.node.middle {
  left: 45%;
  top: 27%;
}

.node.end {
     right: 21%;
    top: 15%;
    color: black;
}

/* Experience Cards */
.exp-card {
  position: absolute;
  background: white;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  min-width: 160px;
  transition: 0.3s ease;
}

.exp-card:hover {
  transform: translateY(-6px);
}

/* Card Positions */
.wipro {
    left: 13%;
    bottom: 6%;
    color: black;
}

.tcs {
  left: 40%;
  top: 40%;
  color: black;
}
.path-svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s ease forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
