.theme
{
    background-color: #6c757d2e;
    color: black;
       min-height: 100vh;

    //transition: background-color 0.3s ease, color 0.3s ease;
}
.theme.dark
{
    background-color: #050303;
    color: white;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 96.5vh;
}

.content {
  max-height: 73.5vh;
  flex: 1;
}
