.theme
{
    background-color: white;
    color: black;
       min-height: 100vh;

    transition: background-color 0.9s ease, color 0.9s ease;
}
.theme.dark
{
    background-color: black;
    color: white;
}
.content
{
    min-height: 90vh;
}